#recipe-details {
    padding: 0 0 120px 0;
}

#recipe-details .section-title {
    background: #444 url(../../assets/img/recipe-details.jpg) center center no-repeat fixed;
    background-size: cover;
    margin-bottom: 50px;
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.8);
    padding: 2rem;
}

#recipe-details .section-title h2 {
    color: #fff;
}

#recipe-details p {
    color: #bdbdbd;
    font-weight: 400;
}

#recipe-details hr {
    margin: auto auto 20px auto;

}

#recipe-details img {
    padding: 15px;
    background: #fff;
    border: 1px solid #e5e5e5;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    width: 30%;
    height: 30%;
}

#recipe-details > .container-fluid > button {
    border-right: 2px solid #fff;
}
