.category-overview-card {;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 200px auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
    align-items: start;
    max-width: 320px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 50px;
}


.category-overview-card img {
    justify-self: center;
    max-width: 280px;
    max-height: 200px;
    width: 100%;
    opacity: 0.85;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.356);
}

.category-overview-card img:hover {
    opacity: 1;
    transition: opacity 1s;
}

.category-overview-card > .container-text {
    background-color: #bdbdbd;
    display: flex;
    align-items: center;
}

.category-overview-card > .container-text > h2 {
    color: #ffffff;
    margin: auto;
}