body,
html {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

a {
    color: #f3a281;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #222;
}

h2 {
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 34px;
    color: #333;
    text-transform: uppercase;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

h4 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    color: #333;
}

h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}

p {
    font-size: 16px;
    color: #777;
}

hr {
    height: 2px !important;
    width: 70px !important;
    text-align: center;
    position: relative;
    background: #f3a281;
    margin: 0;
    margin-bottom: 40px;
    border: 0;
}
