footer {
  text-align: center;
  background-color: #262626;
}
footer li {
  list-style: none;
  padding: 10px;
}
footer i,
footer p {
  color: #f3a281;
}

footer i {
  margin: 10px 10px;
}

footer p {
  padding-bottom: 10px;
}
