#section-discover {
    background-image: url("../../../assets/img/intro-bg.jpg");
    text-align: center;
    background-size: cover;
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.4);

    padding-top: 250px;
    padding-bottom: 200px;
}

#section-discover h1 {
    font-family: "Dancing Script", cursive;
    color: #fff;
    font-size: 10em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
}

#section-discover p {
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 40px;
}